*{
padding: 0;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo{

    width: 4%;
    margin-left: 110px;
    margin-right: 80px;
}



#threejs-container {
    
    width: 100%;
    height: 500px; /* o cualquier altura que necesites */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0 auto; /* Asegúrate de que el contenedor esté centrado */
    
}


.direccion{

display: flex;
flex-direction: row;
justify-content: center;
margin-top: 188px;

}


main{

    margin-top: 60px;
    
   

}


header{

display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
box-shadow: 1px 1px 4px 1px black;
padding-bottom: 5px;

}

nav{

display: flex;
flex-direction: row;
gap: 60px;

}

nav a{

text-decoration: none;
color: #47525E;
font-weight: bolder;
padding: 10px;
}

.button-login{
margin-left: auto;
margin-right: 100px;
width: 100px;
padding: 10px;
border-radius: 5px;
background-color: black;
color: white;
font-weight: bold;
cursor: pointer;

}

nav a:hover{

background-color: #DDE6F8;    
border-radius: 5px;

}


.banner{

display: flex;
flex-direction: row;
justify-content: center;


}

.banner-1{

display: flex;
flex-direction: row;
align-items: center;
margin-top: 120px;
margin-bottom: 60px;
padding: 20px;
border-radius: 20px;
background-color: rgb(15, 15, 15);
color: white;
font-size: 30px;
box-shadow: 10px 10px 10px 5px #414346;

}

.banner-1 div p{

font-weight: bold;

}


.img-banner{

width: 250px;

}



.servicios{

display: flex;
flex-direction: row;
justify-content: center;
gap: 80px;
margin-top: 80px;
margin-bottom: 150px;


}


.servicio{

width: 400px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 20px;
box-shadow: 10px 10px 8px 5px rgb(104, 97, 97);

}


.servicio-text{

display: flex;    
flex-direction: column;
align-items: center;
background-color: black;
color: white;
padding: 20px;
gap: 20px;
border-radius: 20px;
}

.img-servicio{

width: 200px;

}



footer{

display: flex;
flex-direction: row;
gap: 50px;
align-items: center;
background-color: black;
padding: 80px;


}


footer div a {

    color: white;
    text-decoration: none;
}

.enlaces{

display: flex;
flex-direction: column;
margin-left: 200px;
gap: 20px;

}





